.works-box {
  width: 100%;
  height: 70vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 0 5vw;
  color: #383838;

  p {
    font-size: 1.1rem;
  }

  h1 {
    font-size: 1.5rem;
    padding: 2vh 0;
  }

  &:hover {
    color: #fff;
    transition: color 500ms ease-in;
  }

  .img {
    width: 20vw;
  }

  .description {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  .more-btn {
    width: 10vw;
    background-color: #112fd9;
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
  }
}

@media only screen and (max-width: 1024px) {
  .works-box {
    height: 60vh;
    color: #fff;

    .img {
      width: 200px;
    }

    .more-btn {
      width: 15vw;
    }
  }
}

@media only screen and (max-width: 600px) {
  .works-box {
    height: 80vh;
    color: #fff;

    .img {
      width: 200px;
    }

    .more-btn {
      width: 50vw;
    }
  }
}
