.hireMe-page {
  height: 90vh;
  width: 80vw;
  background-image: url(../../images/mapTT.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10vh;
  opacity: 0;

  .hire-info {
    width: 23vw;
    background-color: #0b0c0c;
    height: 60vh;
    margin-left: 20vw;
    box-shadow: 0px 0px 5px 7px rgba(11, 12, 12, 0.34);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    .header {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      span {
        font-size: 5rem;
      }
    }

    .social-btn {
      width: 10vw;
      height: 6vh;
      margin-bottom: 3vh;
      background-color: #112fd9;
      display: flex;
      justify-content: center;
      align-items: center;

      cursor: pointer;
      i {
        margin-left: 5%;
      }

      &.twitter {
        background-color: #4090d4;
      }
      &.github {
        background-color: #bebfc0;
        color: #0b0c0c;
      }
    }
  }
}

@media only screen and (max-width: 1024px) {
  .hireMe-page {
    display: flex;
    justify-content: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 80vh;

    .hire-info {
      width: 80vw;
      margin: 0;
      font-size: 1.8rem;

      .social-btn {
        width: 34vw;
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .hireMe-page {
    display: flex;
    justify-content: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 80vh;

    .hire-info {
      width: 80vw;
      margin: 0;
      font-size: 1.2rem;

      .social-btn {
        width: 34vw;
      }
    }
  }
}
