.headNav-flex {
  height: 10vh;
  display: flex;
  justify-content: space-between;
  padding: 0 5vw;
  align-items: center;
  position: fixed;
  width: 100vw;
  background-color: #0b0c0c;
  z-index: 1;

  & a {
    color: #fff;
    text-decoration: none;
  }

  .hamburger {
    cursor: pointer;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    align-items: center;
    .line {
      background-color: #fff;
      width: 23px;
      height: 3px;
      margin-bottom: 4px;
    }
    .mid-line {
      width: 60%;
    }
  }
}
