@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #0b0c0c;
  color: #fff;
}

.flex-container {
  display: flex;
  padding-top: 10vh;
  height: 90vh;
  width: 100vw;
}

a {
  color: #fff;
  text-decoration: none;
}

.fade {
  position: absolute;
  left: 14%;
}

.fade-enter {
  opacity: 0.01;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 300ms ease-in;
}

.fade-exit {
  opacity: 1;
}

.fade-exit.fade-exit-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}
